
.hero{
    position: relative;
}
.hero::after{
    content: '';
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
}

@import "tailwindcss";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));