

.hero{
    position: relative;
}
.hero::after{
    content: '';
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
}

.gradient-bg{
    position: relative;
}
.gradient-bg::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 background-image: linear-gradient(to bottom,  transparent 20% ,#141414  );
}

@import "tailwindcss";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));